<!DOCTYPE html>
<html>
<head>
  <title>Exemplary</title>
  <%= stylesheet_link_tag    "application",  "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300,200' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
<body>
<!--------Start Header----------->
<div class="header">
  <div class="container">
    <div class="logo-menu">
      <div class="logo">
        <h1>Exemplary</h1>
      </div>
      <div class="menu">
        <label for="show-menu" class="show-menu">Show Menu</label>
        <input type="checkbox" id="show-menu" role="button"></input>
        <ul class="nav" id="menu">
          <li><a href="#" class="active">Home</a></li>
          <li><a href="#service">Services</a></li>
          <li><a href="#work">Our Work</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--------End Header------------->

<!--------Banner Starts---------->
<div class="banner">
  <div class="container">
    <div class="banner-text">
      <h2 class="tagline">Heyy! We are creative design studio<br />We create <span>awesomeness</span> by HTML5layouts</h2>
      <p class="under-tagline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis faucibus leo. Ut ac arcu a diam mollis semper. In nec blandit nisl, nec cursus lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis faucibus leo. Ut ac arcu a diam mollis semper. In nec blandit nisl, nec cursus lectus.</p>
      <button class="mainbutton">Request A Quote</button>
    </div>
  </div>
</div>
<!--------Banner Ends------------>

<!--------Services Starts-------->
<div class="services" id="service">
  <div class="container">
    <div class="section-head">
      <h3>Best <span>Services</span></h3>
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis faucibus leo. Ut ac arcu a diam mollis semper. In nec blandit nisl, nec cursus lectus.</p>-->
    </div>
    <div class="services-list">
      <ul>
        <li>
          <div class="service-icon icon1"></div>
          <h4>Professional Works</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
        </li>
        <li>
          <div class="service-icon icon2"></div>
          <h4>Highly Customizable</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
        </li>
        <li>
          <div class="service-icon icon3"></div>
          <h4>Quick Response</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--------Services Ends---------->

<!--------Desc Starts------------>
<div class="desc">
  <div class="container">
    <h3>I want to eat chilly pizza with tomato sauce and cold drinks</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis faucibus leo. Ut ac arcu a diam mollis semper. In nec blandit nisl, nec cursus lectus.</p>
  </div>
</div>
<!--------Desc Ends-------------->

<!--------Work Starts------------>
<div class="work" id="work">
  <div class="container">
    <div class="section-head">
      <h3>Our <span>Works</span></h3>
    </div>
    <div class="work-gallery">
      <ul>
        <li><a href="#"><img src="assets/unsplash001.jpg"/></a>
        </li>
        <li><a href="#"><img src="assets/unsplash002.jpg"/></a>
        </li>
        <li><a href="#"><img src="assets/unsplash003.jpg"/></a>
        </li>
        <li><a href="#"><img src="assets/unsplash004.jpg"/></a>
        </li>
        <li><a href="#"><img src="assets/unsplash005.jpg"/></a>
        </li>
        <li><a href="#"><img src="assets/unsplash006.jpg"/></a>
        </li>
        <li><a href="#"><img src="assets/unsplash007.jpg"/></a>
        </li>
        <li><a href="#"><img src="assets/unsplash001.jpg"/></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--------Work Ends-------------->

<!--------About Starts----------->
<div class="about" id="about">
  <div class="container">
    <div class="section-head">
      <h3>About <span>Creative Studio</span></h3>
    </div>
    <div class="team">
      <ul>
        <li><img src="assets/team-member1.jpg"/><h5>Angela Leo</h5><span class="team-info">Web developer</span></li>
        <li><img src="assets/team-member2.jpg"/><h5>Angela Leo</h5><span class="team-info">Web developer</span></li>
        <li><img src="assets/team-member3.jpg"/><h5>Angela Leo</h5><span class="team-info">Web developer</span></li>
        <li><img src="assets/team-member4.jpg"/><h5>Angela Leo</h5><span class="team-info">Web developer</span></li>
      </ul>
    </div>
  </div>
</div>
<!--------About Ends------------->

<!--------Contact Starts--------->
<div class="contact" id="contact">
  <div class="container">
    <div class="section-head">
      <h3>Get In <span>Touch</span></h3>
    </div>
    <div class="contact-section">
      <div class="contact-form">
        <form>
          <input type="text" name="Name" placeholder="Name" />
          <input type="email" name="email" placeholder="Email"/>
          <textarea placeholder="Message" rows="6"></textarea>
          <button type="submit" class="submit">Send Message</button>
        </form>
      </div>
      <div class="contact-details">
        <p class="address">123689 Pathway, London<br>
          England
        </p>
        <p class="tel">+18965478954</p>
        <p class="mail">info@exemplary.com</p>
      </div>
    </div>
  </div>
</div>
<!--------Contact Ends----------->

<!--------Footer Starts---------->
<div class="footer">
  <div class="container">
    <div class="infooter">
      <p class="copyright">Copyright &copy; Exemplary 2014 by <a class="credit"href="http://www.html5layouts.com">HTML5 Layouts</a></p>
    </div>
    <ul class="socialmedia">
      <li><a href=""><i class="icon-twitter"></i></a></li>
      <li><a href=""><i class="icon-facebook"></i></a></li>
      <li><a href=""><i class="icon-dribbble"></i></a></li>
      <li><a href=""><i class="icon-linkedin"></i></a></li>
      <li><a href=""><i class="icon-instagram"></i></a></li>
    </ul>
  </div>
</div>
<!--------Footer Ends------------>
</body>
<%= yield %>

</body>
</html>
